<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="demoTestFlows" thread-count="1">

	<test name="accountCreationTest">
		<classes>
			<class name="DemoTest">
				<methods>
					<include name="accountCreationTest"></include>
				</methods>
			</class>
		</classes>
	</test>

	<test name="searchItemTest">
		<classes>
			<class name="DemoTest">
				<methods>
					<include name="searchItemTest"></include>
				</methods>
			</class>
		</classes>
	</test>


</suite>
